import { strToEnum } from "./EnumHelper"

// Create KV constant for this type
const {{name}}Constant = strToEnum([
    {{#enumParameters}}
    "{{name}}"{{^last}},{{/last}}
    {{/enumParameters}}
]);


export type {{ name }} = keyof typeof {{name}}Constant;
