{{#refs}}
import { {{type}} } from "./{{type}}"
{{/refs}}

export class {{&name}} {
{{#propertyArray}}
	{{#isArray}}
    public {{name}}{{^required}}?{{/required}}: {{typescriptType}}<any>;
	{{/isArray}}
	{{^isArray}}
    public {{name}}{{^required}}?{{/required}}: {{typescriptType}};
	{{/isArray}}
{{/propertyArray}}
{{#refs}}
	{{#isArray}}
    public {{name}}: {{typescriptType}}<any>;
	{{/isArray}}
	{{^isArray}}
    public {{name}}: {{typescriptType}};
	{{/isArray}}
{{/refs}}
}
