{{#refs}}
import { {{type}} } from "./{{type}}"
{{/refs}}

export class {{&name}} {
{{#propertyArray}}
	{{#isArray}}
    {{name}}{{^required}}?{{/required}}: {{typescriptType}}[];
	{{/isArray}}
	{{^isArray}}
    {{name}}{{^required}}?{{/required}}: {{typescriptType}};
	{{/isArray}}
{{/propertyArray}}
{{#refs}}
	{{#isArray}}
    {{name}}: {{typescriptType}}[];
	{{/isArray}}
	{{^isArray}}
    {{name}}: {{typescriptType}};
	{{/isArray}}
{{/refs}}
}
