{{#refImports}}
import { {{type}} } from "./{{type}}"
{{/refImports}}
{{#enums}}
import { {{type}} } from "../enums/{{type}}"
{{/enums}}

export class {{&name}} {
{{#propertyArray}}
	{{#isArray}}
    public {{name}}{{^required}}?{{/required}}: {{typescriptType}}<any>;
	{{/isArray}}
	{{^isArray}}
    public {{name}}{{^required}}?{{/required}}: {{typescriptType}};
	{{/isArray}}
{{/propertyArray}}
{{#refs}}
	{{#isArray}}
    public {{name}}{{^required}}?{{/required}}: Array<{{typescriptType}}>;
	{{/isArray}}
	{{^isArray}}
    public {{name}}{{^required}}?{{/required}}: {{typescriptType}};
	{{/isArray}}
{{/refs}}
{{#enums}}
	{{#isArray}}
    public {{name}}{{^required}}?{{/required}}: Array<{{typescriptType}}>;
	{{/isArray}}
	{{^isArray}}
    public {{name}}{{^required}}?{{/required}}: {{typescriptType}};
	{{/isArray}}
{{/enums}}
}
