export type {{ name }} =
{{#enumParameters}}
    "{{name}}"{{^last}} |{{/last}}{{#last}};{{/last}}
{{/enumParameters}}


export const {{name}}Properties = [{{#enumParameters}}
        "{{name}}"{{^last}},{{/last}}{{/enumParameters}}
    ];